<div style="color:red" *ngIf="error">{{message}}</div>  
<form class = "text-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class = "form-group row">
    <label class = "col-sm-2">Username:</label>
    <input class="col-sm-4 form-control" placeholder="Username" formControlName="username" type="text">
    
<div *ngIf="username.invalid && (username.dirty || username.touched)" style="color: red; padding-left: 10px">

<div *ngIf="username.errors.required">
 <p>Username is required.</p>
</div>
<div *ngIf="username.errors.minlength">
  <p>Username must be at least 4 characters long.</p>
</div>
<div *ngIf="username.errors.forbiddenName">
  <p>cannot be Bob.</p>
</div>

</div>
</div>
  
  <div class = "form-group row">
    <label class = "col-sm-2 label">Password:</label>
    <input class = "col-sm-4 form-control" placeholder="Password" formControlName="password"  type="password" >
  
    <div *ngIf="password.invalid && (password.dirty || password.touched)" style="color: red; padding-left: 10px;">

<div *ngIf="password.errors.required">
  <p> Password is required.</p>
</div>
<div *ngIf="password.errors.minlength">
  <p> Password must be at least 4 characters long.</p>
</div>
<div *ngIf="password.errors.forbiddenName">
  <p> Password cannot be Bob.</p>
</div>

</div>


  </div>

  <div class = "form-group row">
    <div class="col-sm-2 ">
      <button class="btn-danger btn" type = "reset">Reset </button>
    </div>

    <div class = "col-sm-2">
      <button class="btn-primary btn" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </div>
  </div>

  </form>