           
                <div class="row form-group">
                    <div class="col-sm-2">
                         <label> First name : </label>
                    </div>
                    <div class="col-sm-2">
                    <label> Krishna </label>
                    </div>
                    <div class="col-sm-2">
                        <label>Last name : </label>
                   </div>
                   <div class="col-sm-2">
                   <label> Gond </label>
                </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2">
                    <label> Mobile :</label> 
                    </div>
                    <div class="col-sm-2">
                        <label> 8169828365 </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2">
                    <label> Email : </label> 
                    </div>
                    <div class="col-sm-4">
                        <label> krgond786mani@gmail.com </label>
                    </div>
                </div>

                
        
        
                <div class="row form-group">
                    <div class="col-sm-2">
                    <label> Date of Birth : </label>
                    </div>
                    <div class="col-sm-2">
                       <input class="date-picker-example" placeholder="Selected date" type="date" id="date-picker-example">
                   </div>
               </div>
                
            <div class="row form-group">
                <div class="col-sm-2">
                    <label>Gender:</label>
                </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio">Male
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio">Female
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optradio">Other
                        </label>
                      </div>
            </div>
            <div class="row from-group">
              <div class="col-sm-2">
               <label> Address : </label>
              </div>
              <div class="col-sm-4">
                <textarea class="form-control rounded-0" id="Address" rows="4"></textarea>
            </div>
            </div>