 <form class = "text-center" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
              <div class="row form-group">
                  <div class="col-sm-2">
                       <label> Username : </label>
                  </div>
                  <div class="col-sm-4">
                  <input class="form-control" placeholder="Username" formControlName="username" type="text">
              </div>
          </div>

          <div class="row form-group">
              <div class="col-sm-2">
              <label> First Name : </label> 
              </div>
              <div class="col-sm-4">
                  <input class="form-control" placeholder="First Name" formControlName="firstName" type="text">
              </div>
          </div>


          <div class="row form-group">

              <div class="col-sm-2">
                   <label> Last Name : </label>
              </div>
              <div class="col-sm-4">
              <input class="form-control" placeholder="Last Name" formControlName="lastName" type="text">
          </div>
      </div>

      <div class="row form-group">
          <div class="col-sm-2">
               <label> Mobile No. : </label>
          </div>
          <div class="col-sm-4">
          <input class="form-control" placeholder="Mobile No." formControlName="mobileNo" type="text">
      </div>
  </div>
  <div class="row form-group">
      <div class="col-sm-2">
           <label for="email"> Email : </label>
      </div>
      <div class="col-sm-4">
      <input class="form-control" placeholder="Email" type="email" formControlName="email" id="email">
  </div>
</div>
             

<div class="row form-group">
  <div class="col-sm-2">
       <label for="pwd"> Password : </label>
  </div>
  <div class="col-sm-4">
  <input class="form-control" placeholder="Password" type="password" formControlName="password" id="pwd" required>
</div>
</div>

<div class="row form-group">
  <div class="col-sm-2">
       <label for="pwd"> Re-Password : </label>
  </div>
  <div class="col-sm-4">
  <input class="form-control" placeholder="Re-Password" type="password" formControlName="rePassword" id="conferm-password" required>
</div>
</div>


<!-- <div class="form-group form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox"> Remember me
  </label>
</div>
-->
<div class="row form-group">

   <div class="col-sm-2">


             <input class="btn btn-danger" type="reset" value="Reset">
   </div>
   <div class="col-sm-2">
             <input class = "btn btn-primary" type="submit" value="Submit">
   </div>
</div>

          </form>
     